MODE=release
MONGODB_USER=xxxxxxxxxx
MONGODB_AUTH_SOURCE=xxxxxxxxxx
MONGODB_PASSWORD=xxxxxxxxxxxxxx
MONGODB_DATABASE=xxxxxxxxxxxxxx
MONGODB_HOST=xxxxxxxxxxxx
MONGODB_PORT=27017
ONESIGNAL_APP_ID=xxxxxxxxxxxxxx
ONESIGNAL_REST_API_KEY=xxxxxxxxxxxxxx
MYSQL_USER=xxxxxxxxxxxxxx
MYSQL_PASSWORD=xxxxxxxxxxxxxx
MYSQL_HOST=xxxxxxxxxx
MYSQL_PORT=3306
MYSQL_DATABASE=xxxxxxxxxx
JWE_KEY_AES_256=xxxxxxxxxxxxxx
ENCRYPT=false